<a href="https://colab.research.google.com/github/SadraZg/HackerRank/blob/master/Nested_list/Nested_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Number of students
n = int(input())
alli = {}

for i in range(n):
  name = input()
  alli[name] = float(input())     # alli = {"Name1": grade1, "Name2": grade2, ...}

# Extract just the grades
grade_list = list(alli.values())
# Sort those grades ascending
grade_list.sort()
grade_list

5
Hesam
12
Javad
17
John
15
Jennifer
5
Sara
12

[5.0, 12.0, 12.0, 15.0, 17.0]

In [9]:
# Make sure the smallest grade is not selected    consider grades=[19,19,20,20,21]    both 19's must get lost
minimum = grade_list[0]
while minimum in grade_list:
  grade_list.remove(minimum)
grade_list

[12.0, 12.0, 15.0, 17.0]

In [12]:
# The second smallest element
second_mini = grade_list[0]
second_mini

12.0

In [0]:
# Get names of students with second lowest grades
finalists = []
for k, v in alli.items():
  if v == second_mini:
    finalists.append(k)
    del k

In [14]:
# Sort the names
finalists.sort()
for i in finalists:
  print(i)

Hesam
Sara